{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button>ok</button>
    {{ form_end(form) }}
    <a href="{{ path("show") }}">Voir les blogs</a>
    <a href="{{ path("edit") }}">Modifier les blogs</a>
    <a href="{{ path('person') }}">Personnes</a>


{% endblock %}
